/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Color Variables */
:root {
  --white: #fff;
  --black: #222;
  --green: #be0215;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  background-color: #95388d22;
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* 
=================
Header
=================
*/

.header {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.top-nav {
  background-color: var(--green);
  font-size: 1.3rem;
  color: var(--white);
}

.top-nav div {
  justify-content: space-between;
  height: 4.5rem;
}

.top-nav a {
  color: var(--white);
  padding: 0 0.5rem;
}

/* 
=================
Navigation
=================
*/
.navigation {
  height: 10rem;
  line-height: 1rem;
}

.nav-center {
  justify-content: space-between;
}

.nav-list .icons {
  display: none;
}

.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
}

.nav-center .nav-link:hover {
  color: var(--green);
}

.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  color: var(--black);
  cursor: pointer;
}

/* Icons */

 .icon2 {
  cursor: pointer;
  font-size: 1.7rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
  }

  

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
}

.icon:not(:last-child) {
  margin-right: 0.5rem;
}

.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 50%;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
    .nav-list {
      position: fixed;
      top: 12%;
      left: -35rem;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 100%;
      width: 0%;
      max-width: 35rem;
      z-index: 100;
      transition: all 300ms ease-in-out;
    }
  
    .nav-list.open {
      left: 0;
      width: 100%;
    }
  
    .nav-list .nav-item {
      margin: 0 0 1rem 0;
      width: 100%;
    }
  
    .nav-list .nav-link {
      font-size: 2rem;
      color: var(--black);
    }
  
    .nav-center .hamburger {
      display: block;
      color: var(--black);
      font-size: 3rem;
    }
  
    .icons {
      display: none;
    }
  
    .nav-list .icons {
      display: flex;
    }
  
    .top-nav ul {
      display: none;
    }
  
    .top-nav div {
      justify-content: center;
      height: 3rem;
    }
  }
  

.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
	display: flex;
	border-radius: 7px;
}
.left{
	width: 25%;
	font-weight: bold;

}
.left p{
	padding: 30px 20px;
}
.methods{
	padding: 10px 0;
}
.methods div{
	padding: 7px 20px;
	cursor: pointer;
	font-size: 15px;
}
.methods div:hover{
	box-shadow: 0 0 10px rgba(172, 255, 47, 0.196);
}
.methods div::after{
	content: '';
	display: inline-block;
	color: rgb(172, 65, 16);
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-left-color: var(--fondy-success);
	margin-left: 10px;
}
.fa-solid{
	margin-right: 10px;
	font-size: 22px;
	color: #aaa;
}
.center{
	width: 50%;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	height: 70vh;
}
.center a{
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right{
	width: 25%;
}
.right p{
	padding: 30px 20px;
	font-weight: bold;
}
.details{
	padding: 20px 20px;
}
.right a{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.card-details{
	padding: 20px 80px;
}
.card-details .c-number{
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 0 12px;
	margin-top: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
input{
	border: none;
	border-radius: 3px;
	outline: none;
}
.c-details{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 20px 0;
}
.cc-exp{
	border: 1px solid #aaa;
	border-radius: 3px;
	height: 50px;
	margin-top: 10px;
	padding: 12px;
	width: 150px;
}
.cc-cvv{
    border: 1px solid #aaa;
	border-radius: 3px;
	height: 50px;
	margin-top: 10px;
	padding: 12px;
	width: 150px;
}
.email input{
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 12px;
	height: 50px;
	margin-top: 10px;
}
button{
	width: 100%;
	border: none;
	height: 50px;
	border-radius: 3px;
	margin-top: 30px;
	font-size: 18px;
	color: #444;
	background-color: rgba(236, 60, 160, 0.456);
}
button:hover{
	background-color: #444;
	color: white;
	cursor: pointer;
}

/* Contact */
.contact {
  background-color: var(--black);
  color: var(--white);
  padding: 10rem 20rem;
}

.contact .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact .row .col h2 {
  margin-bottom: 1.5rem;
}

.contact .row .col p {
  width: 70%;
  margin-bottom: 2rem;
}

.btn-1 {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.contact form div {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.contact form input {
  font-family: 'Roboto', sans-serif;
  text-indent: 2rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 0;
  outline: none;
  border: none;
}

.contact form a {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--green);
  color: white;
  margin: 0.5rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 996px) {
  .contact {
    padding: 8rem 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .contact .row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }

  .contact form div {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .contact {
    padding: 8rem 1rem;
  }
}

/* Footer */
.footer {
  padding: 7rem 1rem;
  background-color: var(--green);
}

footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 99.6rem;
  margin: 0 auto;
}

.footer .col {
  flex-direction: column;
  color: var(--white);
  align-items: flex-start;
}

.footer .col:last-child {
  flex-direction: row;
  justify-content: center;
}

.footer .col:last-child span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--white);
}

.footer .col a {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 300;
}

.footer .col h4 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 567px) {
  footer .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}




